<!-- simple view for all views beyond the welcome = home screen -->
<div id="wrapper">
  <h1>Dice Game</h1>

  <img src="<%= @img1 %>">
  <img src="<%= @img2 %>">

  <br>

  <h2><%= @msg1 %></h2>
  <p><%= @msg2 %></p>

  <br>

  <%= button_to @button_text, @button_path, :class => "button" %>

</div>
